{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load currency %}
{% block title %} {{ product.title }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}

{% block wrapper_type %} "wrapper-boxed_layout" {% endblock wrapper_type %}

{% block body %}
    <!-- Begin Quicky's Single Product Area -->
    <div class="sp-area pt-100">
        <div class="container">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sp-img_area">
                            <div class="sp-img_slider slick-img-slider quicky-element-carousel" data-slick-options='{
                                    "slidesToShow": 1,
                                    "arrows": false,
                                    "fade": true,
                                    "draggable": false,
                                    "swipe": false,
                                    "asNavFor": ".sp-img_slider-nav"
                                    }'>
                                <div class="single-slide main zoom">
                                    <img src="{{ product.image.url }}"
                                         alt="{{ product.title }}">
                                </div>

                                {% for rs in images %}
                                    <div class="single-slide zoom color-{{ forloop.counter }}">
                                        <img src="{{ rs.image.url }}" alt="{{ product.title }}">
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="sp-img_slider-nav slick-slider-nav quicky-element-carousel arrow-style arrow-sm_size arrow-day_color"
                                 data-slick-options='{
                                    "slidesToShow": 3,
                                    "asNavFor": ".sp-img_slider",
                                    "focusOnSelect": true,
                                    "arrows" : true,
                                    "spaceBetween": 30
                                    }' data-slick-responsive='[
                                            {"breakpoint":1501, "settings": {"slidesToShow": 3}},
                                            {"breakpoint":1200, "settings": {"slidesToShow": 2}},
                                            {"breakpoint":992, "settings": {"slidesToShow": 4}},
                                            {"breakpoint":768, "settings": {"slidesToShow": 3}},
                                            {"breakpoint":575, "settings": {"slidesToShow": 2}}
                                        ]'>
                                <div class="single-slide main">
                                    <img src="{{ product.image.url }}"
                                         alt="{{ product.title }}">
                                </div>

                                {% for rs in images %}
                                    <div class="single-slide color-{{ forloop.counter }}">
                                        <img src="{{ rs.image.url }}" alt="{{ product.title }}">
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sp-content ml-lg-4 " id="singleProduct" data-pk="{{ product.pk }}">
                            <div class="sp-heading">
                                <h3><a href="javascript:void(0)">{{ product.title }}</a></h3>
                            </div>
                            <div class="rating-box">
                                <i class="fa fa-star{% if product.avaregereview < 1 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 2 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 3 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 4 %}-o empty{% endif %}"></i>
                                <i class="fa fa-star{% if product.avaregereview < 5 %}-o empty{% endif %}"></i>
                                {{ product.avaregereview |stringformat:".2f" }}
                            </div>

                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Category <a
                                            href="{% url 'category_products' product.category.pk product.category %}">{{ product.category }}</a>
                                    </li>
                                    <li>Brand: <a
                                            href="{% url 'brand_products' product.brand.pk product.brand %}">{{ product.brand }}</a>
                                    </li>
                                    <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                                </ul>
                            </div>

                            <div class="product-size_box">
                                <span>Size</span>
                                {% if product.category == 'shoe' %}
                                    <select class="myniceselect nice-select">
                                        <option value="1">30</option>
                                        <option value="2">35</option>
                                        <option value="3">40</option>
                                        <option value="4">45</option>
                                    </select>
                                {% elif product.category == 'Accessories' or  product.category == 'Jewellery' %}
                                    <div></div>
                                {% else %}
                                    <select class="myniceselect nice-select">
                                        <option value="1">S</option>
                                        <option value="2">M</option>
                                        <option value="3">L</option>
                                        <option value="4">XL</option>
                                    </select>
                                {% endif %}

                            </div>
                            <div class="quantity">
                                <label>Quantity</label>
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" id="quantityInput" value="1" type="text">
                                    <div class="dec qtybutton"><i class="zmdi zmdi-chevron-down"></i></div>
                                    <div class="inc qtybutton"><i class="zmdi zmdi-chevron-up"></i></div>
                                </div>
                            </div>
                            <div class="qty-btn_area">
                                <ul>
                                    <li><a class="qty-cart_btn addToCartBtn" href="#">Add To Cart</a></li>
                                    <li>
                                        {% if product.wishlisted %}
                                            <a href="#" class="qty-wishlist_btn actionWishlistBtn"
                                               data-wishlisted="true"
                                               data-toggle="tooltip"
                                               title="Remove from Wishlist" >
                                                <i class="zmdi zmdi-favorite"></i>
                                            </a>
                                        {% else %}
                                            <a href="#" class="qty-wishlist_btn actionWishlistBtn"
                                               data-toggle="tooltip"
                                               title="Add To Wishlist">
                                                <i class="zmdi zmdi-favorite-outline"></i>
                                            </a>
                                        {% endif %}
                                    </li>
                                    <li>

                                        <a class="qty-compare_btn" href="compare.html" data-toggle="tooltip"
                                           title="Compare This Product"><i class="zmdi zmdi-shuffle"></i></a></li>
                                </ul>
                            </div>
                            <div class="quicky-tag-line">
                                <h6>Tags:</h6>
                                {% for tag in all_tags %}
                                    <a href="javascript:void(0)">{{ tag }}</a>
                                {% endfor %}
                            </div>
                            <div class="social-link-4 square-style align-left border-style">
                                <ul>
                                    <li class="facebook">
                                        <a href="https://www.facebook.com" data-toggle="tooltip" target="_blank"
                                           title="Facebook">
                                            <i class="zmdi zmdi-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="twitter">
                                        <a href="https://twitter.com" data-toggle="tooltip" target="_blank"
                                           title="Twitter">
                                            <i class="zmdi zmdi-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="google-plus">
                                        <a href="https://www.plus.google.com/discover" data-toggle="tooltip"
                                           target="_blank" title="Google Plus">
                                            <i class="zmdi zmdi-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="instagram">
                                        <a href="https://rss.com" data-toggle="tooltip" target="_blank"
                                           title="Instagram">
                                            <i class="zmdi zmdi-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quicky's Single Product Area End Here -->

    <!-- Begin Product Tab Area Two -->
    {% include 'partials/description_tab.html' %}
    <!-- Product Tab Area Two End Here -->

    <!-- Begin Product Area Seven -->
    <div class="product-area-14 pt-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="heading">By same brand</h3>
                        <div class="section-icon"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="quicky-element-carousel product-slider" data-slick-options='{
                            "slidesToShow": 3,
                            "slidesToScroll": 1,
                            "infinite": false,
                            "arrows": false,
                            "dots": false,
                            "spaceBetween": 30
                            }' data-slick-responsive='[
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":768, "settings": {
                            "slidesToShow": 1
                            }}
                        ]'>

                        {% for b_product in same_brand %}

                            {% if product.pk == b_product.pk %}

                            {% else %}
                                <div class="product-item">
                                    <div class="single-product" data-pk="{{ b_product.pk }}">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="{{ b_product.image.url }}"
                                                     alt="{{ b_product.title }}">
                                            </a>

                                            <div class="add-actions">
                                                <ul>
                                                    <li class="quick-view-btn" data-toggle="modal"
                                                        data-target="#exampleModalCenter"><a href="javascript:void(0)"
                                                                                             data-toggle="tooltip"
                                                                                             data-placement="top"
                                                                                             title="Quick View"><i
                                                            class="icon-magnifier"></i></a>
                                                    </li>
                                                    <li>
                                                        {% if b_product.wishlisted %}
                                                            <a href="#" class="actionWishlistBtn" data-wishlisted="true"
                                                               data-toggle="tooltip"
                                                               data-placement="top"
                                                               title="Remove from Wishlist">
                                                                <i class="zmdi zmdi-favorite"></i>
                                                            </a>
                                                        {% else %}
                                                            <a href="#" class="actionWishlistBtn"
                                                               data-toggle="tooltip"
                                                               data-placement="top"
                                                               title="Add To Wishlist">
                                                                <i class="zmdi zmdi-favorite-outline"></i>
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                    <li class="nocompare"><a href="compare.html" data-toggle="tooltip"
                                                                             data-placement="top"
                                                                             title="Add To Compare"><i
                                                            class="icon-refresh"></i></a>
                                                    </li>
                                                    <li><a href="#" class="addToCartBtn" data-toggle="tooltip"
                                                           data-placement="top"
                                                           title="Add To cart"><i class="icon-bag"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content bg-snow">
                                            <div class="product-desc_info">
                                                <div class="manufacture-product_top">
                                                    <span>{{ b_product.brand }} </span>
                                                </div>
                                                <h3 class="product-name"><a
                                                        href="{% url 'product_detail' b_product.id b_product.slug %}">{{ b_product.title }}</a>
                                                </h3>
                                                <div class="price-box">
                                                    {% if rs.discount_price %}
                                                        <span class="old-price">{{ b_product.price|currency:curr }} {{ curr }}</span>
                                                        <span class="new-price">{{ b_product.discount_price|currency:curr }}
                                                            {{ curr }}</span>
                                                    {% else %}
                                                        <span class="old-price"></span>
                                                        <span class="new-price">{{ b_product.price|currency:curr }} {{ curr }}</span>
                                                    {% endif %}

                                                </div>

                                                <div class="review-area d-flex justify-content-between align-items-center">
                                                    <div class="rating-box gamboge-color">
                                                        <ul>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area Seven End Here --><!-- Begin Product Area Seven -->
    <div class="product-area-14 pt-95">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h3 class="heading">Products you might like</h3>
                        <div class="section-icon"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="quicky-element-carousel product-slider" data-slick-options='{
                            "slidesToShow": 3,
                            "slidesToScroll": 1,
                            "infinite": false,
                            "arrows": false,
                            "dots": false,
                            "spaceBetween": 30
                            }' data-slick-responsive='[
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":768, "settings": {
                            "slidesToShow": 1
                            }}
                        ]'>

                        {% for b_product in might_like %}

                            {% if product.pk == b_product.pk %}

                            {% else %}
                                <div class="product-item">
                                    <div class="single-product" data-pk="{{ b_product.pk }}">
                                        <div class="product-img">
                                            <a href="single-product.html">
                                                <img src="{{ b_product.image.url }}"
                                                     alt="{{ b_product.title }}">
                                            </a>

                                            <div class="add-actions">
                                                <ul>
                                                    <li class="quick-view-btn" data-toggle="modal"
                                                        data-target="#exampleModalCenter"><a href="javascript:void(0)"
                                                                                             data-toggle="tooltip"
                                                                                             data-placement="top"
                                                                                             title="Quick View"><i
                                                            class="icon-magnifier"></i></a>
                                                    </li>
                                                    <li>
                                                        {% if b_product.wishlisted %}
                                                            <a href="#" class="actionWishlistBtn" data-wishlisted="true"
                                                               data-toggle="tooltip"
                                                               data-placement="top"
                                                               title="Remove from Wishlist">
                                                                <i class="zmdi zmdi-favorite"></i>
                                                            </a>
                                                        {% else %}
                                                            <a href="#" class="actionWishlistBtn"
                                                               data-toggle="tooltip"
                                                               data-placement="top"
                                                               title="Add To Wishlist">
                                                                <i class="zmdi zmdi-favorite-outline"></i>
                                                            </a>
                                                        {% endif %}
                                                    </li>
                                                    <li class="nocompare"><a href="compare.html" data-toggle="tooltip"
                                                                             data-placement="top"
                                                                             title="Add To Compare"><i
                                                            class="icon-refresh"></i></a>
                                                    </li>
                                                    <li><a href="#" class="addToCartBtn" data-toggle="tooltip"
                                                           data-placement="top"
                                                           title="Add To cart"><i class="icon-bag"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-content bg-snow">
                                            <div class="product-desc_info">
                                                <div class="manufacture-product_top">
                                                    <span>{{ b_product.brand }} </span>
                                                </div>
                                                <h3 class="product-name"><a
                                                        href="{% url 'product_detail' b_product.id b_product.slug %}">{{ b_product.title }}</a>
                                                </h3>
                                                <div class="price-box">
                                                    {% if rs.discount_price %}
                                                        <span class="old-price">{{ b_product.price|currency:curr }} {{ curr }}</span>
                                                        <span class="new-price">{{ b_product.discount_price|currency:curr }}
                                                            {{ curr }}</span>
                                                    {% else %}
                                                        <span class="old-price"></span>
                                                        <span class="new-price">{{ b_product.price|currency:curr }} {{ curr }}</span>
                                                    {% endif %}

                                                </div>

                                                <div class="review-area d-flex justify-content-between align-items-center">
                                                    <div class="rating-box gamboge-color">
                                                        <ul>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                            <li><i class="icon-star"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}


                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product Area Seven End Here -->
{% endblock body %}

