{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load currency %}


{% block title %} Shop Cart {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block body %}

    <div class="breadcrumb-area"
         style="background-image: url({% static 'images/banner/store_bg.jpg' %});">
        <div class="container">
            <div class="breadcrumb-content">
                <h2 style="color: white;">SHOP CART</h2>
                <ul style="color: white;">
                    <li><a href="{% url 'new_home' %}" style="color: white;">Home</a></li>
                    <li class="active" style="color: white;">Shopcart</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Begin Quicky's Cart Area -->
    <div class="quicky-cart-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="javascript:void(0)">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="quicky-product-remove">remove</th>
                                    <th class="quicky-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="quicky-product-price">Unit Price</th>
                                    <th class="quicky-product-quantity">Quantity</th>
                                    <th class="quicky-product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for rs in shopcart %}

                                    <tr>
                                        <td class="quicky-product-remove"><a href="/order/deletefromcart/{{ rs.id }}"
                                                                             onclick="return confirm('Delete ! Are you sure?')"><i
                                                class="zmdi zmdi-close"
                                                title="Remove"></i></a></td>
                                        <td class="quicky-product-thumbnail"><a href="javascript:void(0)"><img
                                                src="{{ rs.product.image.url }}" height="129px" width="129px"
                                                alt="{{ rs.product }}"></a>
                                        </td>
                                        <td class="quicky-product-name"><a
                                                href="{{ rs.product.get_absolute_url }}">{{ rs.product }}</a>
                                        </td>
                                        <td class="quicky-product-price"><span
                                                class="amount">
                                            {% if rs.product.discount_price %}
                                                {{ rs.product.discount_price|currency:curr }}
                                                {{ curr }}
                                                {% else %}{{ rs.product.price|currency:curr }}
                                                {{ curr }}
                                            {% endif %}

                                        </span>
                                        </td>
                                        <td class="quantity">
                                            <label>Quantity</label>
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" value="{{ rs.quantity }}"
                                                       type="text">
                                                <div class="dec qtybutton"><i class="zmdi zmdi-chevron-down"></i></div>
                                                <div class="inc qtybutton"><i class="zmdi zmdi-chevron-up"></i></div>
                                            </div>
                                        </td>

                                        <td class="product-subtotal"><span class="amount">$
                                            {% with quantity=rs.quantity %}
                                                {% load myapptags %}

                                                {% if rs.product.discount_price %}
                                                    {% multiply rs.product.discount_price quantity %} {{ curr }}
                                                    {% else %}{% multiply rs.product.price quantity %} {{ curr }}
                                                {% endif %}
                                                {##}
                                                {#                                                {% if rs.product.variant == 'None' %}#}
                                                {#                                                    {{ rs.amount|currency:curr }}#}
                                                {#                                                    {{ curr }}#}
                                                {#                                                {% else %}#}
                                                {#                                                    {{ rs.varamount|currency:curr }}#}
                                                {#                                                    {{ curr }}#}
                                                {#                                                {% endif %}#}
                                            {% endwith %}</span></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul>
                                        <li>Subtotal
                                            <span>{{ total|currency:curr }} {{ curr }}</span>
                                        </li>
                                        <li>Shipping <span>Free Shipping</span></li>
                                        <li>Total
                                            <span>{{ total|currency:curr }} {{ curr }}</span>
                                        </li>
                                    </ul>
                                    <a href="{% url 'orderproduct' %}">Proceed to checkout</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Quicky's Cart Area End Here -->

{% endblock body %}