{% load i18n %}
{% load currency %}


<table class="table">
    <thead>
    <tr>
        <th class="cart-product-name">Product</th>
        <th class="cart-product-total">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr class="cart_item">
        <td class="cart-product-name"> Vestibulum suscipit<strong
                class="product-quantity">
            × 1</strong></td>
        <td class="cart-product-total"><span class="amount">£165.00</span></td>
    </tr>

    {% for rs in shopcart %}
        <tr class="cart_item">
            <td class="cart-product-name">{{ rs.product }}<strong
                    class="product-quantity">
                × {{ rs.quantity }}</strong></td>
            <td class="cart-product-total"><span class="amount">$
                {% if rs.product.variant == 'None' %}
                    {{ rs.amount|currency:request.session.currency }} {{ request.session.currency }}
                {% else %}
                    {{ rs.varamount|currency:request.session.currency }} {{ request.session.currency }}
                {% endif %}</span></td>
        </tr>
    {% endfor %}

    </tbody>
    <tfoot>
    <tr class="cart-subtotal">
        <th>Cart Subtotal</th>
        <td><span class="amount">{{ total|currency:request.session.currency }} {{ request.session.currency }}</span>
        </td>
    </tr>
    <tr class="cart-subtotal">
        <th>Shipping</th>
        <td><span class="amount">Free Shipping</span>
        </td>
    </tr>
    <tr class="order-total">
        <th>Order Total</th>
        <td><strong><span
                class="amount">{{ total|currency:request.session.currency }} {{ request.session.currency }}</span></strong>
        </td>
    </tr>
    </tfoot>
</table>