<div class="quicky-sidebar-catagories_area">
                    <div class="quicky-sidebar_categories">
                        <div class="quicky-categories_title first-child">
                            <h5>Filter by price</h5>
                        </div>
                        <div class="price-filter">
                            <div id="slider-range"></div>
                            <div class="price-slider-amount">
                                <div class="label-input">
                                    <label>price : </label>
                                    <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                                    <button class="filter-btn">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quicky-sidebar_categories category-module">
                        <div class="quicky-categories_title">
                            <h5>Product Categories</h5>
                        </div>
                        <div class="sidebar-categories_menu">
                            <ul>
                                <li class="has-sub"><a href="javascript:void(0)">Clock<i
                                        class="zmdi zmdi-plus"></i></a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Margherita</a></li>
                                        <li><a href="javascript:void(0)">Marinara</a></li>
                                        <li><a href="javascript:void(0)">Quattro Stagioni</a></li>
                                        <li><a href="javascript:void(0)">Carbonara</a></li>
                                        <li><a href="javascript:void(0)">Crudo</a></li>
                                        <li><a href="javascript:void(0)">Napoli</a></li>
                                        <li><a href="javascript:void(0)">Diavola</a></li>
                                        <li><a href="javascript:void(0)">Funghi</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Basket</a></li>
                                <li class="has-sub"><a href="javascript:void(0)">Poat <i
                                        class="zmdi zmdi-plus"></i></a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Black Label Burger</a></li>
                                        <li><a href="javascript:void(0)">Le Pigeon Burger</a></li>
                                        <li><a href="javascript:void(0)">Buckhorn Burger</a></li>
                                        <li><a href="javascript:void(0)">Luger Burger</a></li>
                                        <li><a href="javascript:void(0)">Cheeseburger</a></li>
                                        <li><a href="javascript:void(0)">Kobe Burger</a></li>
                                        <li><a href="javascript:void(0)">Primetime Burger</a></li>
                                        <li><a href="javascript:void(0)">Kuma Burger</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Chair</a></li>
                                <li><a href="javascript:void(0)">Lamp</a></li>
                                <li class="has-sub"><a href="javascript:void(0)">Shirt <i
                                        class="zmdi zmdi-plus"></i></a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Naga doner kebab</a></li>
                                        <li><a href="javascript:void(0)">Kathi kebab</a></li>
                                        <li><a href="javascript:void(0)">Satay</a></li>
                                        <li><a href="javascript:void(0)">Shashlik</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="javascript:void(0)">Pant <i
                                        class="zmdi zmdi-plus"></i></a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Nam Alias</a></li>
                                        <li><a href="javascript:void(0)">Possimus Eaque</a></li>
                                        <li><a href="javascript:void(0)">Dolorem Rem</a></li>
                                        <li><a href="javascript:void(0)">Excepturi Amet</a></li>
                                        <li><a href="javascript:void(0)">Reiciendis Fugiat</a></li>
                                        <li><a href="javascript:void(0)">Animi Necessitatibus</a></li>
                                        <li><a href="javascript:void(0)">Optio Accusantium</a></li>
                                        <li><a href="javascript:void(0)">Commodi Explicabo</a></li>
                                        <li><a href="javascript:void(0)">Impedit Exercitationem</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="javascript:void(0)">Shoes <i
                                        class="zmdi zmdi-plus"></i></a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Laboriosam Reprehenderit</a></li>
                                        <li><a href="javascript:void(0)">Ipsa Inventore Delectus</a></li>
                                        <li><a href="javascript:void(0)">Accusamus Saepe</a></li>
                                        <li><a href="javascript:void(0)">Voluptatem Distinctio</a></li>
                                        <li><a href="javascript:void(0)">Aperiam Blanditiis</a></li>
                                        <li><a href="javascript:void(0)">Itaque Eligendi</a></li>
                                        <li><a href="javascript:void(0)">Ducimus Magni </a></li>
                                        <li><a href="javascript:void(0)">Vero provident</a></li>
                                        <li><a href="javascript:void(0)">Alias Culpa</a></li>
                                    </ul>
                                </li>
                                <li class="has-sub"><a href="javascript:void(0)">Bag <i
                                        class="zmdi zmdi-plus"></i></a>
                                    <ul>
                                        <li><a href="javascript:void(0)">Quaerat Fuga</a></li>
                                        <li><a href="javascript:void(0)">Numquam Nisi</a></li>
                                        <li><a href="javascript:void(0)">Porro Saepe</a></li>
                                        <li><a href="javascript:void(0)">Pariatur Quasi</a></li>
                                        <li><a href="javascript:void(0)">Placeat Quam Nihil</a></li>
                                        <li><a href="javascript:void(0)">Architecto Tenetur</a></li>
                                    </ul>
                                </li>
                                <li><a href="javascript:void(0)">Vessel</a></li>
                                <li><a href="javascript:void(0)">Tourning</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="quicky-sidebar_categories">
                        <div class="quicky-categories_title">
                            <h5>Color</h5>
                        </div>
                        <ul class="sidebar-checkbox_list">
                            <li>
                                <a href="javascript:void(0)">Black (1)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Blue (1)</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Gold (3)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="quicky-sidebar_categories">
                        <div class="quicky-categories_title quicky-tags_title">
                            <h5>Product Tags</h5>
                        </div>
                        <ul class="quicky-tags_list">
                            <li><a href="javascript:void(0)">Car</a></li>
                            <li><a href="javascript:void(0)">Toy</a></li>
                            <li><a href="javascript:void(0)">Watch</a></li>
                            <li><a href="javascript:void(0)">Bag</a></li>
                            <li><a href="javascript:void(0)">Shoes</a></li>
                            <li><a href="javascript:void(0)">Shirt</a></li>
                            <li><a href="javascript:void(0)">Pen Stand</a></li>
                        </ul>
                    </div>
                    <!-- <div class="quicky-sidebar_categories quicky-banner_area sidebar-banner_area">
                    <div class="banner-item img-hover_effect">
                        <div class="banner-img">
                            <a href="javascript:void(0)">
                                <img class="img-full" src="assets/images/banner/3-1.jpg" alt="Quicky's Banner">
                            </a>
                        </div>
                    </div>
                </div> -->
                </div>