<div class="product-view-mode">
    <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top"
       title="Grid View"><i class="zmdi zmdi-grid"></i></a>
    <a class="list" data-target="listview" data-toggle="tooltip" data-placement="top"
       title="List View"><i class="zmdi zmdi-view-list-alt"></i></a>
</div>

<div class="product-page_count">
    <p>Showing 1–9 of 40 results)</p>
</div>

<div class="product-item-selection_area">
    <div class="product-short">
        <label class="select-label">Short By:</label>
        <select class="nice-select">
            <option value="1">Default sorting</option>
            <option value="2">Name, A to Z</option>
            <option value="3">Name, Z to A</option>
            <option value="4">Price, low to high</option>
            <option value="5">Price, high to low</option>
            <option value="5">Rating (Highest)</option>
            <option value="5">Rating (Lowest)</option>
            <option value="5">Model (A - Z)</option>
            <option value="5">Model (Z - A)</option>
        </select>
    </div>
</div>