<div class="quicky-sidebar-catagories_area">
    <div class="quicky-sidebar_categories">
        <div class="quicky-categories_title first-child">
            <h5>Filter by price</h5>
        </div>
        <div class="price-filter">
            <div id="slider-range"></div>
            <div class="price-slider-amount">
                <div class="label-input">
                    <label>price : </label>
                    <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                    <button class="filter-btn">Filter</button>
                </div>
            </div>
        </div>
    </div>
    <div class="quicky-sidebar_categories category-module">
        <div class="quicky-categories_title">
            <h5>Product Categories</h5>
        </div>
        <div class="sidebar-categories_menu">
            <ul>
                <li><a href="{% url 'category_products' 4 'shoe' %}">Shoe</a></li>
                <li><a href="{% url 'category_products' 5 'clothing' %}">Clothing</a></li>
                <li><a href="{% url 'category_products' 6 'bags' %}">Bags</a></li>
                <li><a href="{% url 'category_products' 8 'jewellery' %}">Jewellery</a></li>
                <li><a href="{% url 'category_products' 7 'accessories' %}">Accessories</a></li>
            </ul>
        </div>
    </div>
    <div class="quicky-sidebar_categories">
        <div class="quicky-categories_title">
            <h5>Top Brands</h5>
        </div>
        <ul class="sidebar-checkbox_list">
            {% for brand in top_brands %}
                <li>
                    <a href="{% url 'brand_products' brand.pk brand.slug %}">{{ brand }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
    <div class="quicky-sidebar_categories">
        <div class="quicky-categories_title quicky-tags_title">
            <h5>Top Tags</h5>
        </div>
        <ul class="quicky-tags_list">
            {% for tag in top_tags %}
                <li><a href="javascript:void(0)">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>