{% load static %}
{% load i18n %}
{% load currency %}
{% currency_context %}
{% load myapptags %}

<div class="offcanvas-minicart_wrapper" id="miniCart">
    <div class="offcanvas-menu-inner">
        <a href="#" class="btn-close"><i class="zmdi zmdi-close"></i></a>
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4>Shopping Cart</h4>
            </div>
            <ul class="minicart-list">
                {% if not shopcart %}
                    {% if not user.id %}
                        {% if user_pk %}
                            {% allshopcart user_pk as shopcart %}
                            {% allshopcartprice user_pk as total %}
                        {% else %}
                            {% allshopcart request.user.pk as shopcart %}
                            {% allshopcartprice request.user.pk as total %}
                        {% endif %}

                    {% else %}
                        {% allshopcart user.id as shopcart %}
                        {% allshopcartprice user.id as total %}
                    {% endif %}
                {% endif %}

                {% for rs in shopcart %}
                    <li class="minicart-product">
                        <a class="product-item_remove" data-pk="{{ rs.id }}" href="#">
                            <i class="zmdi zmdi-close " id="cart-remover" data-pk="{{ rs.id }}"></i>
                        </a>
                        <div class="product-item_img">
                            <img src="{{ rs.product.image.url }}" alt="Quicky's Product Image">
                        </div>
                        <div class="product-item_content">
                            <a class="product-item_title"
                               href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }}</a>
                            <span class="product-item_quantity">{{ rs.quantity }} x
                                {% if rs.product.discount_price %}
                                    {{ rs.product.discount_price|currency:curr }}
                                    {{ curr }}
                                    {% else %}{{ rs.product.price|currency:curr }}
                                    {{ curr }}
                                {% endif %}
                            </span>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="minicart-item_total">
            <span>Subtotal</span>
            <span class="ammount">{{ total|currency:curr }} {{ curr }}</span>
        </div>
        <div class="minicart-btn_area">
            <a href="{% url 'shopcart' %}" class="quicky-btn-2 quicky-btn_fullwidth square-btn">Minicart</a>
        </div>
        <div class="minicart-btn_area">
            <a href="{% url 'orderproduct' %}" class="quicky-btn-2 quicky-btn_fullwidth square-btn">Checkout</a>
        </div>
    </div>
</div>
