{% load static %}
{% load i18n %}
{% load currency %}

<div class="offcanvas-minicart_wrapper" id="miniCart">
    <div class="offcanvas-menu-inner">
        <a href="#" class="btn-close"><i class="zmdi zmdi-close"></i></a>
        <div class="minicart-content">
            <div class="minicart-heading">
                <h4>Shopping Cart</h4>
            </div>
            <ul class="minicart-list">

                <li class="minicart-product">
                    <a class="product-item_remove" href="javascript:void(0)"><i
                            class="zmdi zmdi-close"></i></a>
                    <div class="product-item_img">
                        <img src="{% static 'images/product/small-size/1.jpg' %}" alt="Quicky's Product Image">
                    </div>
                    <div class="product-item_content">
                        <a class="product-item_title" href="shop-left-sidebar.html">Autem ipsa ad</a>
                        <span class="product-item_quantity">1 x $145.80</span>
                    </div>
                </li>

                {% for rs in shopcart %}
                    <li class="minicart-product">
                        <a class="product-item_remove" href="/order/deletefromcart/{{ rs.id }}"
                           onclick="return confirm('Delete ! Are you sure?')"><i
                                class="zmdi zmdi-close"></i></a>
                        <div class="product-item_img">
                            <img src="{{ rs.product.image.url }}" alt="Quicky's Product Image">
                        </div>
                        <div class="product-item_content">
                            <a class="product-item_title"
                               href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">{{ rs.product }}</a>
                            <span class="product-item_quantity">{{ rs.quantity }} x
                                ${% if rs.product.variant == 'None' %}
                                    {{ rs.amount|currency:request.session.currency }} {{ request.session.currency }}
                                {% else %}
                                    {{ rs.varamount|currency:request.session.currency }} {{ request.session.currency }}
                                {% endif %}</span>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="minicart-item_total">
            <span>Subtotal</span>
            <span class="ammount">{{ total|currency:request.session.currency }} {{ request.session.currency }}</span>
        </div>
        <div class="minicart-btn_area">
            <a href="{% url 'shopcart' %}" class="quicky-btn-2 quicky-btn_fullwidth square-btn">Minicart</a>
        </div>
        <div class="minicart-btn_area">
            <a href="{% url 'orderproduct' %}" class="quicky-btn-2 quicky-btn_fullwidth square-btn">Checkout</a>
        </div>
    </div>
</div>
